*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bowlby One SC', cursive;
}

body{
    height: 100vh;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: none;
}
.login{
    height: 550px;
    position: absolute;
}
.formulario{
    width: 400px;
    position: absolute;
    background-color: #fff;
    border: 5px solid #8f4790;
    border-radius: 10px;
    padding: 30px 60px;
    top: 290px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.formulario input,label,button{
    display: block;
    width: 100%;
    margin: 5px 0;
}
.formulario input{
    height: 40px;
    border: 2px solid #8f4790;
    border-radius: 10px;
    padding: 0 8px;
}
.formulario button{
    margin-top: 20px;
    
    border: none;
    height: 40px;
    background-color: #824283;
    box-shadow: 1px 1px 2px #000;
    color: #fff;
}
.formulario button:hover{
    background-color: #8f4790;
}

.cursor{
    z-index: 999;
    position: fixed;
    background: #2696e8;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696e8,
                 0 0 60px #2696e8,
                 0 0 100px #2696e8;

    animation:colors   5s infinite; 
    transform: translate(-50%,-50%);         

    
}
@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.cursor::before{
    content:"" ;
    position: absolute;
    background: #2696e8;
    width: 50px;
    height: 50px;
    opacity: 0.2;
    transform: translate(-30%,-30%);
    border-radius: 50%;

}